<div class="background">
  <div class="inner-div">
    <div class="main-photo d-flex justify-content-center">
      <div class="jumbotron center">
        <h1>Bem-vindo ao Blog do MyCraft</h1>
        <p>Várias postagens sobre como criar itens,<br>curiosidades do jogo e muito mais!</p>
          <div class="mc-button">
            <%= link_to signup_path do %>
              <%= content_tag :span, "Cadastre-se", class: "title" %>
            <% end %>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col content-b d-flex justify-content-between flex-column">
        <div>
          <h2>Título!</h2>
          <p>Conteúdo...</p>
        </div>
        <%= link_to root_path, class: "nav-button-mc" do %>
          <div class="button-mc-container">
            <%= content_tag :span, "Algum botão..." %>
          </div>
        <% end %>
      </div>
      <div class="col content-b d-flex justify-content-between flex-column">
        <div>
          <h2>Título!</h2>
          <p>Conteúdo...</p>
        </div>
        <%= link_to root_path, class: "nav-button-mc" do %>
          <div class="button-mc-container">
            <%= content_tag :span, "Algum botão..." %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col content-b d-flex justify-content-between flex-column">
        <div>
          <h2>Título!</h2>
          <p>Conteúdo...</p>
        </div>
        <%= link_to root_path, class: "nav-button-mc" do %>
          <div class="button-mc-container">
            <%= content_tag :span, "Algum botão..." %>
          </div>
        <% end %>
      </div>
      <div class="col content-b d-flex justify-content-between flex-column">
        <div>
          <h2>Título!</h2>
          <p>Conteúdo...</p>
        </div>
        <%= link_to root_path, class: "nav-button-mc" do %>
          <div class="button-mc-container">
            <%= content_tag :span, "Algum botão..." %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>