<%= render 'shared/errors', obj1: @item, obj2: @errors, obj3: @count, obj4: @error %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@item, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :name, "Nome do item" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control", placeholder: "Insira o nome do item aqui...", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :photo, "Foto do Item" %>
        </div>
        <div class="col-md-8">
          <%= f.file_field :photo, id: "photo", class: "form-control-image", accept: "image/*" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit(@item.new_record? ? "Adicionar" : "Atualizar", class: "nav-butt") %>
        </div>
      </div>
    <% end %>
    <div class="center butt-return">
      <%= link_to "Cancelar solicitação e retornar à listagem de postagens", posts_path %>
    </div>
  </div>
</div>
